<form class="example-form" [formGroup]="form">
  <mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" formControlName="favFood">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..." formControlName="comment"></textarea>
  </mat-form-field>
</form>



<button mat-button (click)="clickBtn()">Submit</button>
